body{ 
    margin: auto;
    width: 780px;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    
}
h1{
    font-family: 'Indie Flower', cursive;
    font-size: 5em;
}

div{ 
    border: 1em groove burlywood;
    height:280px;
    width: 50%;
    margin-top: 20px;
    padding: 0px 50px;
    flex-direction: column-reverse;
}

img{
    justify-content:center;
    width: 250px;
    height: 175px;
}
footer{
    height: 30px;

}

